---
import Layout from '@/src/layouts/Layout.astro';
---

<Layout title="Live | Norb">
  <main class="max-w-4xl mx-auto px-6 py-16 flex justify-center relative z-10">
    <iframe
      src="https://luma.com/embed/event/evt-UDSpdY5DxZ3Ozo9/simple"
      width="600"
      height="450"
      frameborder="0"
      style="border: 1px solid #bfcbda88; border-radius: 4px;"
      allow="fullscreen; payment"
      aria-hidden="false"
      tabindex="0"
    ></iframe>
  </main>
</Layout>
